# Using Pandas

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [2]:
## Your Code here
vehicles_df = pd.read_csv('data/vehicles.csv')

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [3]:
vehicles_df.head(3)
print(vehicles_df.info())
print(f"\nUniquie 'Make': {vehicles_df['Make'].unique()}")
print(f"\nUniquie 'Model': {vehicles_df['Model'].unique()}") #too many values; adding .tolist() shows all
print(vehicles_df['Model'].describe()) #too many indeed (3608)
print(f"\nUnique and sorted 'Year': {sorted(vehicles_df['Year'].unique())}")
print(f"\nUniquie and sorted 'Engine Displacement': {sorted(vehicles_df['Engine Displacement'].unique())}")
print(f"\nUnique and sorted 'Cylinders': {sorted(vehicles_df['Cylinders'].unique())}")
print(f"\nUniquie 'Transmission': {vehicles_df['Transmission'].unique()}")
print(f"\nUniquie 'Drivetrain': {vehicles_df['Drivetrain'].unique()}")
print(f"\nUniquie 'Vehicle Class': {vehicles_df['Vehicle Class'].unique()}")
print(f"\nUniquie 'Fuel Type': {vehicles_df['Fuel Type'].unique()}")
print(f"\nUnique and sorted 'Fuel Barrels/Year': {sorted(vehicles_df['Fuel Barrels/Year'].unique())}")
print(f"\nUnique and sorted 'City MPG': {sorted(vehicles_df['City MPG'].unique())}")
print(f"\nUnique and sorted 'Highway MPG': {sorted(vehicles_df['Highway MPG'].unique())}")
print(f"\nUnique and sorted 'Combined MPG': {sorted(vehicles_df['Combined MPG'].unique())}")
print(f"\nUnique and sorted 'CO2 Emisson Grams/Mile': {sorted(vehicles_df['CO2 Emission Grams/Mile'].unique())}")
print(f"\nUnique and sorted 'Fuel Cost/Year': {sorted(vehicles_df['Fuel Cost/Year'].unique())}\n")
print(vehicles_df[vehicles_df.duplicated(keep=False) == True]) #df has no duplicates

#35952 rows and 15 columns, no null entries, data types seem adequate

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB
None

Uniquie 'Make': ['AM General' 'ASC Incorporated' 'Acura' 'Alfa Romeo'
 'American Motors Corporation' 'Aston Martin' 'Audi' 'Aurora Cars Ltd'
 'Autokraft Limited' 'BMW' 'BMW Alpina' 'Bentley' 'Bertone'
 'Bill Dovell Motor Car Company' 'Bitter Gmbh and Co. Kg' 'Bugatti'
 'Buick' 'CCC Engineering' 'CX Automotive' 'Cadillac' 'Chevrolet'
 'Chrysler' 'Consulier Industries Inc' 'Dabryan Coach Builders Inc'
 'Dacia' 'Daewoo' 'Daihatsu' 'Dodge' 'E. P. Dutton, Inc.' 'Eagle'
 'Environmental Rsch and Devp Corp' 'Evans Automobiles' 'Excalibur Autos'
 'Federal Coach' 'Ferrari' 'Fiat' 'Fisker' 'Ford' 'GMC' 'General Motors'
 'Genesis' 'Geo' 'Goldacre' 'Grumman Allied Industries' 'Grumman Olson'
 'Honda' 'Hummer' 'Hyundai' 'Import Foreign Auto Sales Inc'
 'Import Trade Services' 'Infiniti' 'Isis Imports Ltd' 'Isuzu'
 'J.K. Motors' 'JBA Motorcars, Inc.' 'Jaguar' 'Jeep' 'Kia'
 'Laforza Automobile Inc' 'Lambda Control Systems' 'Lamborghini'
 'Land Rover' 'Lexus' 'Lincoln' 'London Coach Co Inc' 'London Taxi'
 'Lotus' 'MINI' 'Mahindra' 'Maserati' 'Maybach' 'Mazda'
 'McLaren Automotive' 'Mcevoy Motors' 'Mercedes-Benz' 'Mercury' 'Merkur'
 'Mitsubishi' 'Mobility Ventures LLC' 'Morgan' 'Nissan' 'Oldsmobile'
 'PAS Inc - GMC' 'PAS, Inc' 'Pagani' 'Panos' 'Panoz Auto-Development'
 'Panther Car Company Limited' 'Peugeot' 'Pininfarina' 'Plymouth'
 'Pontiac' 'Porsche' 'Quantum Technologies' 'Qvale' 'Ram' 'Red Shift Ltd.'
 'Renault' 'Rolls-Royce' 'Roush Performance' 'Ruf Automobile Gmbh'
 'S and S Coach Company  E.p. Dutton' 'SRT' 'Saab' 'Saleen'
 'Saleen Performance' 'Saturn' 'Scion' 'Shelby' 'Spyker' 'Sterling'
 'Subaru' 'Superior Coaches Div E.p. Dutton' 'Suzuki'
 'TVR Engineering Ltd' 'Tecstar, LP' 'Texas Coach Company' 'Toyota' 'VPG'
 'Vector' 'Vixen Motor Company' 'Volga Associated Automobile' 'Volkswagen'
 'Volvo' 'Wallace Environmental' 'Yugo' 'smart']

Uniquie 'Model': ['DJ Po Vehicle 2WD' 'FJ8c Post Office' 'Post Office DJ5 2WD' ...
 'fortwo cabriolet' 'fortwo convertible' 'fortwo coupe']
count               35952
unique               3608
top       F150 Pickup 2WD
freq                  197
Name: Model, dtype: object

Unique and sorted 'Year': [1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

Uniquie and sorted 'Engine Displacement': [0.6, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 7.0, 7.4, 8.0, 8.3, 8.4]

Unique and sorted 'Cylinders': [2.0, 3.0, 4.0, 5.0, 6.0, 8.0, 10.0, 12.0, 16.0]

Uniquie 'Transmission': ['Automatic 3-spd' 'Automatic 4-spd' 'Manual 5-spd' 'Automatic (S5)'
 'Manual 6-spd' 'Automatic 5-spd' 'Auto(AM8)' 'Auto(AM-S8)' 'Auto(AV-S7)'
 'Automatic (S6)' 'Automatic (S9)' 'Automatic (S4)' 'Auto(AM-S9)'
 'Automatic (S7)' 'Auto(AM7)' 'Auto(AM-S7)' 'Auto(AM6)' 'Automatic 6-spd'
 'Manual 4-spd' 'Automatic (S8)' 'Manual(M7)' 'Auto(AM-S6)'
 'Automatic (variable gear ratios)' 'Automatic (AV)' 'Auto(AV-S8)'
 'Automatic (AM6)' 'Automatic 8-spd' 'Auto(A1)' 'Automatic (A1)'
 'Automatic (A6)' 'Auto(AV-S6)' 'Manual 3-spd' 'Manual 7-spd'
 'Automatic 9-spd' 'Auto (AV)' 'Automatic 6spd' 'Auto(L4)' 'Auto(L3)'
 'Auto (AV-S6)' 'Auto (AV-S8)' 'Automatic (AV-S6)' 'Automatic 7-spd'
 'Manual 5 spd' 'Auto(AM5)' 'Automatic (AM5)']

Uniquie 'Drivetrain': ['2-Wheel Drive' 'Rear-Wheel Drive' 'Front-Wheel Drive'
 '4-Wheel or All-Wheel Drive' 'All-Wheel Drive' '4-Wheel Drive'
 'Part-time 4-Wheel Drive' '2-Wheel Drive, Front']

Uniquie 'Vehicle Class': ['Special Purpose Vehicle 2WD' 'Midsize Cars' 'Subcompact Cars'
 'Compact Cars' 'Sport Utility Vehicle - 4WD'
 'Small Sport Utility Vehicle 2WD' 'Small Sport Utility Vehicle 4WD'
 'Two Seaters' 'Sport Utility Vehicle - 2WD' 'Special Purpose Vehicles'
 'Special Purpose Vehicle 4WD' 'Small Station Wagons' 'Minicompact Cars'
 'Midsize-Large Station Wagons' 'Midsize Station Wagons' 'Large Cars'
 'Standard Sport Utility Vehicle 4WD' 'Standard Sport Utility Vehicle 2WD'
 'Minivan - 4WD' 'Minivan - 2WD' 'Vans' 'Vans, Cargo Type'
 'Vans, Passenger Type' 'Standard Pickup Trucks 2WD'
 'Standard Pickup Trucks' 'Standard Pickup Trucks/2wd'
 'Small Pickup Trucks 2WD' 'Standard Pickup Trucks 4WD'
 'Small Pickup Trucks 4WD' 'Small Pickup Trucks' 'Vans Passenger'
 'Special Purpose Vehicle' 'Special Purpose Vehicles/2wd'
 'Special Purpose Vehicles/4wd']

Uniquie 'Fuel Type': ['Regular' 'Premium' 'Diesel' 'Premium and Electricity' 'Premium or E85'
 'Premium Gas or Electricity' 'Gasoline or E85' 'Gasoline or natural gas'
 'CNG' 'Regular Gas or Electricity' 'Midgrade'
 'Regular Gas and Electricity' 'Gasoline or propane']

Unique and sorted 'Fuel Barrels/Year': [0.06, 0.0664285714285714, 0.0688888888888888, 0.0808695652173913, 0.0845454545454545, 0.1033333333333333, 0.1094117647058823, 0.11625, 0.124, 0.1328571428571428, 0.143076923076923, 0.155, 0.1690909090909091, 0.186, 0.2066666666666667, 1.5631903722478575, 2.0068441858803987, 3.0925388035714287, 3.3756214821428574, 3.5046504307917896, 3.614241815668203, 3.8355825516046216, 3.880578051315789, 4.028975201298702, 4.184202292002269, 4.7371439591836735, 4.744612481512606, 4.827656776595744, 4.87758466125, 4.87870354125, 5.115502679169414, 5.846634032142857, 5.863279935135134, 5.885892857142856, 6.219056603773584, 6.338653846153847, 6.359254842857142, 6.5922, 6.866875, 7.012978723404256, 7.070999909243697, 7.165434782608696, 7.324666666666666, 7.356924277610839, 7.491136363636365, 7.665348837209303, 7.847857142857142, 7.9845733655172415, 8.00933041448276, 8.039268292682928, 8.07698136431784, 8.099619256371815, 8.24025, 8.2468347375, 8.451538461538462, 8.6525500625, 8.6706743725, 8.673947368421054, 8.908378378378377, 9.155833333333334, 9.178873768695652, 9.179989168695652, 9.417428571428571, 9.53202746964286, 9.53520116964286, 9.554625, 9.694411764705883, 9.799615384615386, 9.988181818181818, 10.0575, 10.3003125, 10.329324324324324, 10.40295132375, 10.61625, 10.632580645161289, 10.7943661125, 10.803702789130432, 10.919571428571428, 10.987, 11.240735294117648, 11.365862068965518, 11.581363636363635, 11.771785714285713, 11.94328125, 12.207777777777777, 12.328548387096774, 12.677307692307696, 12.7395, 13.178793103448276, 13.1844, 13.649464285714286, 13.73375, 14.155, 14.330869565217393, 14.699423076923075, 14.98227272727273, 15.287400000000002, 15.695714285714288, 15.924375, 16.4805, 16.616739130434784, 17.347894736842107, 17.372045454545454, 18.19928571428572, 18.311666666666667, 19.109250000000007, 19.388823529411766, 20.115, 20.600625, 21.2325, 21.974, 22.481470588235297, 23.543571428571425, 23.8865625, 25.35461538461539, 25.479000000000006, 27.29892857142857, 27.4675, 29.96454545454546, 32.961, 36.623333333333335, 41.20125, 47.08714285714285]

Unique and sorted 'City MPG': [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 54, 58]

Unique and sorted 'Highway MPG': [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 58, 59, 60, 61]

Unique and sorted 'Combined MPG': [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 56]

Unique and sorted 'CO2 Emisson Grams/Mile': [37.0, 40.0, 51.0, 81.0, 84.0, 87.0, 91.0, 101.0, 104.0, 112.0, 129.0, 130.0, 133.0, 138.0, 158.0, 167.67924528301887, 169.0, 170.0, 170.90384615384616, 171.0, 177.74, 178.0, 179.0, 183.0, 184.0, 185.1458333333333, 188.0, 189.0, 189.0851063829787, 193.19565217391303, 194.0, 196.0, 198.0, 200.0, 201.97727272727272, 206.0, 206.67441860465115, 209.0, 210.0, 211.0, 211.59523809523807, 212.0, 214.0, 215.0, 216.7560975609756, 217.0, 218.0, 220.0, 221.0, 222.0, 222.175, 223.0, 224.0, 225.0, 226.0, 227.0, 227.8717948717949, 228.0, 228.69435483870967, 229.0, 230.0, 233.0, 233.8684210526316, 237.0, 238.0, 239.0, 240.1891891891892, 241.0, 242.0, 243.0, 244.0, 246.0, 246.86111111111111, 247.0, 248.0, 249.0, 250.0, 251.0, 252.0, 253.0, 253.19732142857143, 253.9142857142857, 254.0, 254.5, 255.0, 256.0, 257.0, 258.0, 259.0, 260.0, 261.0, 261.025641025641, 261.38235294117646, 262.0, 262.57500000000005, 263.0, 264.0, 265.0, 266.0, 267.0, 267.8947368421053, 268.0, 269.0, 269.3030303030303, 270.0, 271.0, 272.0, 273.0, 274.0, 275.0, 275.1351351351352, 276.0, 277.0, 277.71875, 278.0, 279.0, 280.0, 281.0, 282.0, 282.77777777777777, 283.0, 284.0, 285.0, 286.0, 286.67741935483866, 287.0, 288.0, 289.0, 290.0, 290.85714285714283, 291.0, 292.0, 293.0, 294.0, 295.0, 296.0, 296.2333333333333, 297.0, 298.0, 299.0, 299.4117647058824, 300.0, 301.0, 302.0, 303.0, 304.0, 305.0, 306.0, 306.4482758620689, 307.0, 308.0, 308.2402173913044, 308.4848484848485, 309.0, 310.0, 311.0, 312.0, 313.0, 314.0, 315.0, 316.0, 317.0, 317.3928571428572, 318.0, 318.125, 319.0, 320.0, 321.0, 322.0, 322.2511363636364, 323.0, 324.0, 325.0, 326.0, 327.0, 328.0, 328.3870967741936, 329.0, 329.1481481481481, 330.0, 331.0, 332.0, 333.0, 334.0, 335.0, 336.0, 337.0, 338.0, 339.0, 339.3333333333333, 340.0, 341.0, 341.8076923076923, 342.0, 343.0, 344.0, 345.0, 346.0, 347.0, 348.0, 349.0, 350.0, 351.0, 351.0344827586207, 352.0, 353.0, 354.0, 355.0, 355.48, 356.0, 357.0, 358.0, 359.0, 360.0, 361.0, 362.0, 363.0, 363.57142857142856, 364.0, 365.0, 366.0, 367.0, 368.0, 369.0, 370.0, 370.29166666666674, 371.0, 372.0, 373.0, 374.0, 375.0, 376.0, 377.0, 377.03703703703695, 378.0, 379.0, 380.0, 381.0, 382.0, 383.0, 384.0, 385.0, 386.0, 386.39130434782606, 387.0, 388.0, 389.0, 390.0, 391.0, 391.5384615384616, 392.0, 393.0, 393.8625, 394.0, 395.0, 396.0, 397.0, 398.0, 399.0, 400.0, 401.0, 402.0, 403.0, 403.95454545454544, 404.0, 405.0, 406.0, 407.0, 407.2, 408.0, 409.0, 410.0, 411.0, 412.0, 413.0, 414.0, 415.0, 416.0, 417.0, 417.0308823529412, 418.0, 419.0, 420.0, 421.0, 422.0, 423.0, 423.19047619047615, 424.0, 424.16666666666674, 425.0, 426.0, 427.0, 428.0, 429.0, 430.0, 431.0, 432.0, 433.0, 434.0, 435.0, 436.0, 437.0, 438.0, 439.0, 440.0, 441.0, 442.0, 442.60869565217394, 443.0, 443.0953125, 444.0, 444.35, 445.0, 446.0, 447.0, 448.0, 449.0, 450.0, 451.0, 452.0, 453.0, 454.0, 455.0, 456.0, 457.0, 458.0, 459.0, 460.0, 461.0, 462.0, 462.7272727272728, 463.0, 464.0, 465.0, 466.0, 467.0, 467.7368421052632, 468.0, 469.0, 470.0, 471.0, 472.0, 472.6350000000001, 473.0, 474.0, 475.0, 476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 482.0, 483.0, 484.0, 484.7619047619048, 485.0, 486.0, 487.0, 488.0, 489.0, 490.0, 491.0, 492.0, 493.0, 493.72222222222223, 494.0, 495.0, 496.0, 497.0, 498.0, 499.0, 500.0, 501.0, 502.0, 503.0, 504.0, 505.0, 506.0, 506.39464285714286, 507.0, 508.0, 509.0, 511.0, 512.0, 513.0, 514.0, 515.0, 516.0, 517.0, 518.0, 519.0, 520.0, 521.0, 522.0, 522.7647058823529, 523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 529.0, 530.0, 531.0, 532.0, 533.0, 534.0, 535.0, 535.7894736842105, 536.0, 537.0, 538.0, 539.0, 540.0, 541.0, 542.0, 543.0, 544.0, 545.0, 545.348076923077, 546.0, 547.0, 548.0, 549.0, 551.0, 552.0, 553.0, 554.0, 555.0, 555.4375, 556.0, 557.0, 558.0, 559.0, 560.0, 561.0, 562.0, 563.0, 564.0, 565.0, 565.5555555555555, 566.0, 567.0, 568.0, 569.0, 570.0, 571.0, 572.0, 574.0, 576.0, 577.0, 578.0, 579.0, 580.0, 581.0, 582.0, 583.0, 584.0, 586.0, 587.0, 588.0, 590.0, 590.79375, 591.0, 592.0, 592.4666666666667, 593.0, 594.0, 595.0, 596.0, 598.8235294117648, 599.0, 600.0, 601.0, 602.0, 604.0, 605.0, 606.0, 607.0, 608.0, 609.0, 610.0, 611.0, 612.0, 613.0, 614.0, 615.0, 617.0, 618.0, 619.0, 620.0, 621.0, 622.0, 623.0, 624.0, 625.0, 626.0, 627.0, 628.0, 630.0, 633.0, 634.0, 634.7857142857142, 636.0, 636.25, 637.0, 638.0, 639.0, 641.0, 643.0, 644.5022727272727, 645.0, 646.0, 647.0, 650.0, 652.0, 656.0, 659.0, 661.0, 662.0, 663.0, 664.0, 668.0, 669.0, 671.0, 672.0, 674.0, 675.0, 676.0, 677.0, 678.0, 678.6666666666666, 679.0, 680.0, 681.0, 683.0, 683.6153846153846, 684.0, 686.0, 688.0, 692.0, 696.0, 697.0, 698.0, 704.0, 708.9525000000001, 710.0, 711.0, 716.0, 717.0, 718.0, 720.0, 721.0, 723.0, 724.0, 727.0, 727.1428571428571, 731.0, 740.0, 740.5833333333335, 742.0, 747.0, 762.0, 763.0, 787.725, 790.0, 801.0, 805.0, 807.9090909090909, 847.0, 888.7, 987.4444444444443, 1110.875, 1269.571428571429]

Unique and sorted 'Fuel Cost/Year': [600, 650, 700, 750, 800, 850, 900, 950, 1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150, 2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2600, 2700, 2750, 2800, 2900, 3050, 3100, 3350, 3400, 3700, 4050, 4150, 4500, 5050, 5800]

Empty DataFrame
Columns: [Make, Model, Year, Engine Displacement, Cylinders, Transmission, Drivetrain, Vehicle Class, Fuel Type, Fuel Barrels/Year, City MPG, Highway MPG, Combined MPG, CO2 Emission Grams/Mile, Fuel Cost/Year]
Index: []

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

Note:
<br>Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

In [4]:
#Replace all brand names that contain the word "Dutton" for simply "Dutton"

vehicles_df.loc[vehicles_df['Make'].str.contains('Dutton'), 'Make'] = 'Dutton'
vehicles_df[vehicles_df['Make'].str.contains('Dutton')]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11012,Dutton,Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
30164,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350
31754,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350

In [5]:
#If you find similar examples, clean their names too.

vehicles_df.loc[vehicles_df['Make'].str.contains('GMC'), 'Make'] = 'GMC'
vehicles_df.loc[vehicles_df['Make'].str.contains('BMW'), 'Make'] = 'BMW'
vehicles_df.loc[vehicles_df['Make'].str.contains('Saleen'), 'Make'] = 'Saleen'

In [6]:
#Convert CO2 Emissions from Grams/Mile to Grams/Km

print(vehicles_df.loc[0, 'CO2 Emission Grams/Mile'])
vehicles_df['CO2 Emission Grams/Mile'] *= 0.621371
print(vehicles_df.loc[0, 'CO2 Emission Grams/Mile'])

522.7647058823529
324.8308280588235

In [7]:
#Create a binary column that solely indicates if the transmission of a car is automatic or manual.

new_col = np.where(vehicles_df['Transmission'].str.startswith('Auto'), 1, 0)
vehicles_df.insert(6, 'binary', new_col)
vehicles_df.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,binary,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.830828,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.778775,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.132755,2100

In [8]:
#convert MPG columns to km_per_liter

vehicles_df['City MPG'] *= 0.425144
vehicles_df['Highway MPG'] *= 0.425144
vehicles_df['Combined MPG'] *= 0.425144
vehicles_df.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,binary,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652592,7.227448,7.227448,324.830828,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,5.526872,424.778775,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802304,7.227448,6.802304,345.132755,2100

In [9]:
vehicles_df.rename(columns = {'City MPG':'City KPL', 
                              'Highway MPG':'Highway KPL', 
                              'Combined MPG':'Combined KPL', 
                              'CO2 Emission Grams/Mile':'CO2 Emission Grams/Km'},
                  inplace=True)
vehicles_df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,binary,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KPL,Highway KPL,Combined KPL,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652592,7.227448,7.227448,324.830828,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,5.526872,424.778775,2550

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [10]:
# Your Code here
print(f"\nCar makers: {vehicles_df['Make'].nunique()}")
print(f"\nModels: {vehicles_df['Model'].nunique()}")
print(f"\nCar maker with the most cars: {vehicles_df['Make'].mode()}") #mode
print(f"\nCar maker with the most cars: {vehicles_df['Make'].value_counts().idxmax()}") #value_counts
print(f"\nCars were made between {vehicles_df['Year'].min()} and {vehicles_df['Year'].max()}")
print(f"\nEngine displacement varies between {vehicles_df['Engine Displacement'].min()} and {vehicles_df['Engine Displacement'].max()}")
print(f"\nTransmission frequency:\n{vehicles_df['Transmission'].value_counts()}")
print(f"\nDrivetrain frequency:\n{vehicles_df['Drivetrain'].value_counts()}")
print(f"\nFuel type frequency:\n{vehicles_df['Fuel Type'].value_counts()}")
print(f"\nCar with highest fuel barrels/year:\n{vehicles_df.loc[vehicles_df['Fuel Barrels/Year'].idxmax()]}")

Car makers: 122

Models: 3608

Car maker with the most cars: 0    Chevrolet
Name: Make, dtype: object

Car maker with the most cars: Chevrolet

Cars were made between 1984 and 2017

Engine displacement varies between 0.6 and 8.4

Transmission frequency:
Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Transmission, dtype: int64

Drivetrain frequency:
Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

Fuel type frequency:
Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

Car with highest fuel barrels/year:
Make                          Lamborghini
Model                            Countach
Year                                 1986
Engine Displacement                   5.2
Cylinders                            12.0
Transmission                 Manual 5-spd
binary                                  0
Drivetrain               Rear-Wheel Drive
Vehicle Class                 Two Seaters
Fuel Type                         Premium
Fuel Barrels/Year               47.087143
City KPL                         2.550864
Highway KPL                       4.25144
Combined KPL                     2.976008
CO2 Emission Grams/Km          788.874868
Fuel Cost/Year                       5800
Name: 20894, dtype: object

<b> (Optional)

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [11]:
#vehicles_df.sort_values(by=['CO2 Emission Grams/Km'])
vehicles_df.loc[vehicles_df['CO2 Emission Grams/Km'].idxmax()]

Make                          Lamborghini
Model                            Countach
Year                                 1986
Engine Displacement                   5.2
Cylinders                            12.0
Transmission                 Manual 5-spd
binary                                  0
Drivetrain               Rear-Wheel Drive
Vehicle Class                 Two Seaters
Fuel Type                         Premium
Fuel Barrels/Year               47.087143
City KPL                         2.550864
Highway KPL                       4.25144
Combined KPL                     2.976008
CO2 Emission Grams/Km          788.874868
Fuel Cost/Year                       5800
Name: 20894, dtype: object

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [12]:
automatic = vehicles_df.query('binary == 1')['Fuel Barrels/Year']
manual = vehicles_df.query('binary == 0')['Fuel Barrels/Year']

np.mean(automatic) > np.mean(manual)
print(np.mean(automatic))
print(np.mean(manual))

True

18.04315227297736
16.704904365383218

**round columns with float**

In [14]:
vehicles_df.round({'Fuel Barrels/Year': 2})

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,binary,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KPL,Highway KPL,Combined KPL,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.39,7.652592,7.227448,7.227448,324.830828,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,1,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.35,5.526872,5.526872,5.526872,424.778775,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.60,6.802304,7.227448,6.802304,345.132755,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,1,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.35,5.526872,5.526872,5.526872,424.778775,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,1,Rear-Wheel Drive,Midsize Cars,Premium,20.60,5.952016,8.928024,6.802304,345.132755,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.16,14.454896,16.155472,15.305184,151.614524,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.16,14.454896,16.155472,15.305184,150.993153,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),1,Rear-Wheel Drive,Two Seaters,Premium,9.16,14.454896,16.155472,15.305184,151.614524,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),1,Rear-Wheel Drive,Two Seaters,Premium,9.16,14.454896,16.580616,15.305184,152.857266,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,0,Rear-Wheel Drive,Two Seaters,Premium,9.42,13.604608,16.580616,14.880040,158.449605,1150