# Lab - hypothesis testing

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

* Set up the hypothesis test.
* Write down all the steps followed for setting up the test.
* Calculate the test statistic by hand and also code it in Python. It should be 4.76190. What decision can you make based on this calculated value?

_the null and alternative hypotheses:_

H0: μ = 120  
H1: μ != 120

_the test is two-tailed._  
_α = 0.05_

In [2]:
#sample and population information
pop_mean = 120
sample_size = 100
sample_std = 21.21
sample_mean = 130.1

In [3]:
#t-score
t = (sample_mean - pop_mean) / (sample_std/math.sqrt(sample_size))
t

4.761904761904759

In [4]:
#critical value
ct = stats.t.ppf(.975, df=99)  #0.975 = 1-(0.05/2) with α = 0.05
ct

1.9842169515086827

**_t > ct (right tail), which means we don't accept the null hypothesis._**

# Optional

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file Data/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other.

In [5]:
data = pd.read_table('./Data_Machine.txt')
data

   New Machine    Old Machine
0         42.1           42.7
1         41.0           43.6
2         41.3           43.8
3         41.8           43.3
4         42.4           42.5
5         42.8           43.5
6         43.2           43.1
7         42.3           41.7
8         41.8           44.0
9         42.7           44.1

In [6]:
data.columns = data.columns.str.replace(' ', '') #someone put spaces before the 2nd column's name!!

new = data[['NewMachine']]
old = data[['OldMachine']]

new_mean = list(new.mean())[0]
new_std = list(new.std())[0]
new_count = list(new.count())[0]

old_mean = list(old.mean())[0]
old_std = list(old.std())[0]
old_count = list(old.count())[0]

print(new.describe())
print(old.describe())

       NewMachine
count   10.000000
mean    42.140000
std      0.683455
min     41.000000
25%     41.800000
50%     42.200000
75%     42.625000
max     43.200000
       OldMachine
count   10.000000
mean    43.230000
std      0.749889
min     41.700000
25%     42.800000
50%     43.400000
75%     43.750000
max     44.100000

In [7]:
#t= (sample_mean(x1) - sample_mean(x2)) / sqrt(square(s1)/n1 + square(s2)/n2 )

In [9]:
t = (new_mean-old_mean) / math.sqrt(new_std**2/new_count + old_std**2/old_count)
t

-3.397230706117603