# Lab - feature selection

In [1]:
import pandas as pd
import numpy as np
import statistics as stats
import seaborn as sns
import matplotlib.pyplot as plt
import math
from sklearn.preprocessing import PowerTransformer, StandardScaler, minmax_scale, OneHotEncoder
%matplotlib inline

from scipy.stats import iqr
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [2]:
df = pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')

* **removing useless columns**

In [3]:
df.drop(['effective_to_date', 'month'], axis=1, inplace=True)

* **remove outliers function**

In [4]:
def remove_outliers(df):
    for c in df.columns:
            pct_75 = np.percentile(df[c], 75)
            pct_25 = np.percentile(df[c], 25)
            upper_bound = pct_75 + 1.5*iqr(df[c])
            lower_bound = pct_25 - 1.5*iqr(df[c])
            condition = (df[c] < upper_bound) & (df[c] > lower_bound)
            df[c] = df[c][condition]
    return df

* **filling nas**

In [5]:
df.isnull().values.any()

False

* **X,y split**

In [6]:
X = df.drop('total_claim_amount', axis=1)
y = df[['total_claim_amount']]

* **train test split**

In [7]:
tt_ratio = 0.3
rand_seed = 40

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=tt_ratio, 
                                                    random_state=rand_seed)

* **standardizing the data**

In [8]:
#split into numeric and categorical
numeric = df.select_dtypes(include=[np.number])
categorical = df.select_dtypes(include=[object])

#get numeric and cat columns' names
numeric_columns_X = list(numeric.drop('total_claim_amount', axis=1).columns)
categorical_columns_X = list(categorical.columns)

In [9]:
#creating a transformer
pt = PowerTransformer()
ct = ColumnTransformer([('pt', pt, numeric_columns_X),
                        ('dm', OneHotEncoder(drop='first'), categorical_columns_X)],
                       remainder='drop', verbose_feature_names_out=True, verbose=True).fit(X_train)

[ColumnTransformer] ............ (1 of 2) Processing pt, total=   0.0s
[ColumnTransformer] ............ (2 of 2) Processing dm, total=   0.0s

In [10]:
#applying transformer
X_train_ct = pd.DataFrame(ct.transform(X_train), columns=ct.get_feature_names_out())
X_test_ct = pd.DataFrame(ct.transform(X_test), columns=ct.get_feature_names_out())

* **creating a model**

In [11]:
#adding a constant
X_train_ct_const = sm.add_constant(X_train_ct.to_numpy())
X_test_ct_const = sm.add_constant(X_test_ct)

In [12]:
#model
model = sm.OLS(y_train, X_train_ct_const).fit()

print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.739
Model:                            OLS   Adj. R-squared:                  0.738
Method:                 Least Squares   F-statistic:                     449.0
Date:                Mon, 20 Feb 2023   Prob (F-statistic):               0.00
Time:                        16:53:40   Log-Likelihood:                -48108.
No. Observations:                7482   AIC:                         9.631e+04
Df Residuals:                    7434   BIC:                         9.664e+04
Df Model:                          47
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         55.4892     15.806      3.511      0.000      24.504      86.474
x1             6.4861      2.374      2.732      0.006       1.832      11.140
x2            -7.6382      2.065     -3.700      0.000     -11.685      -3.591
x3            82.4259      4.378     18.827      0.000      73.844      91.008
x4             4.3412      1.747      2.484      0.013       0.916       7.766
x5             0.2804      1.762      0.159      0.874      -3.174       3.735
x6            -3.3983      1.757     -1.934      0.053      -6.842       0.045
x7            -1.6834      2.094     -0.804      0.422      -5.789       2.422
x8            15.7581      6.770      2.328      0.020       2.487      29.029
x9             4.1153      4.618      0.891      0.373      -4.938      13.169
x10            7.7172      4.411      1.749      0.080      -0.930      16.365
x11          -20.8625      5.683     -3.671      0.000     -32.002      -9.723
x12           15.6804      5.547      2.827      0.005       4.807      26.554
x13          115.5875      9.059     12.759      0.000      97.829     133.346
x14           -6.6416      4.539     -1.463      0.143     -15.538       2.255
x15          -14.7433      9.675     -1.524      0.128     -33.709       4.222
x16            4.0882      4.596      0.890      0.374      -4.921      13.097
x17          -11.5999      6.935     -1.673      0.094     -25.194       1.994
x18           -4.0499      9.331     -0.434      0.664     -22.341      14.241
x19            5.8457     11.759      0.497      0.619     -17.206      28.897
x20          -17.7179     13.582     -1.304      0.192     -44.343       8.907
x21           82.5081      9.798      8.421      0.000      63.302     101.714
x22           15.3577      3.521      4.362      0.000       8.456      22.260
x23          380.0940      5.081     74.810      0.000     370.134     390.054
x24          220.2869      5.757     38.265      0.000     209.002     231.572
x25           -7.5750      5.149     -1.471      0.141     -17.669       2.519
x26           64.5668      5.926     10.895      0.000      52.950      76.184
x27            9.5883      6.792      1.412      0.158      -3.726      22.902
x28           15.0762      9.616      1.568      0.117      -3.775      33.927
x29           11.5705     11.172      1.036      0.300     -10.329      33.470
x30           12.7714     10.195      1.253      0.210      -7.213      32.756
x31            7.3331      4.320      1.698      0.090      -1.135      15.801
x32            0.8243      3.770      0.219      0.827      -6.567       8.215
x33            1.4309      3.411      0.420      0.675      -5.255       8.117
x34           33.5758     16.400      2.047      0.041       1.428      65.724
x35           -9.6816     11.815     -0.819      0.413     -32.842      13.478
x36           -8.8180     12.006     -0.734      0.463     -32.352      14.716
x37            9.7299      4.414      2.205      0.028       1.078      18.382
x38            7.5427      5.256      1.435      0.151      -2.761      17.847
x39            2.4960      6.183      0.404      0.686      -9.625      14.617
x40           -4.3922      4.415     -0.995      0.320     -13.046       4.262
x41            0.7584      4.899      0.155      0.877      -8.845      10.362
x42            4.5362      5.402      0.840      0.401      -6.053      15.126
x43          461.0105     16.111     28.615      0.000     429.429     492.592
x44          457.1913     15.728     29.068      0.000     426.360     488.023
x45           64.1840     10.094      6.359      0.000      44.398      83.970
x46           69.7204      7.775      8.967      0.000      54.479      84.962
x47           -1.4659      4.610     -0.318      0.751     -10.503       7.571
x48           -6.3022      5.850     -1.077      0.281     -17.770       5.165
x49            0.1815      6.794      0.027      0.979     -13.138      13.501
==============================================================================
Omnibus:                     3799.078   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            65572.690
Skew:                           2.023   Prob(JB):                         0.00
Kurtosis:                      16.927   Cond. No.                     1.14e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.76e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

* **evaluation**

In [13]:
#model prediction values
y_pred_test = pd.DataFrame(model.predict(X_test_ct_const), columns=['claim_amount']) 
y_pred_train = pd.DataFrame(model.predict(X_train_ct_const), columns=['claim_amount'])

In [14]:
#MSE, MAE
print(mse(y_test,y_pred_test))
print(mae(y_test,y_pred_test))
print(mse(y_train,y_pred_train))

21161.05836268643
99.56643410548158
22513.476259874635

In [15]:
#RMSE
print(math.sqrt(mse(y_test,y_pred_test)))

145.46841018821382

In [16]:
#R2
R2=r2_score(y_test, y_pred_test)
R2

0.7469018733957821

In [17]:
#adjusted R2
model = LinearRegression()    # model
model.fit(X_train_ct, y_train)   # model train


R2_test = model.score(X_test_ct, y_test)
R2_train = model.score(X_train_ct, y_train)

Adj_R2 = 1 - (1-R2) * (len(y_test)-1) / (len(y_test) - X_test.shape[1]-1)
Adj_R2

0.745233094539051

In [18]:
#features importances
features_importances = pd.DataFrame(data={'Attribute': X_train_ct.columns,
                                          'Importance': abs(model.coef_.reshape(len(X_train_ct.columns),))})

features_importances = features_importances.sort_values(by='Importance', ascending=False)
features_importances

                              Attribute    Importance
26        dm__policy_type_personal auto  1.689856e+14
31               dm__policy_personal l2  1.689856e+14
32               dm__policy_personal l3  1.689856e+14
30               dm__policy_personal l1  1.689856e+14
27         dm__policy_type_special auto  1.072167e+13
34                dm__policy_special l2  1.072167e+13
35                dm__policy_special l3  1.072167e+13
33                dm__policy_special l1  1.072167e+13
42         dm__vehicle_class_luxury car  4.609929e+02
43         dm__vehicle_class_luxury suv  4.570996e+02
22           dm__location_code_suburban  3.801108e+02
23              dm__location_code_urban  2.202497e+02
12                 dm__coverage_premium  1.155797e+02
20     dm__employment_status_unemployed  8.257493e+01
2              pt__monthly_premium_auto  8.239880e+01
45                dm__vehicle_class_suv  6.978636e+01
25            dm__marital_status_single  6.457394e+01
44         dm__vehicle_class_sports car  6.414000e+01
10                     dm__response_yes  2.082000e+01
19        dm__employment_status_retired  1.780929e+01
11                dm__coverage_extended  1.574632e+01
7                       dm__region_east  1.571322e+01
21                         dm__gender_m  1.532659e+01
14                 dm__education_doctor  1.491491e+01
29              dm__policy_corporate l3  1.277909e+01
28              dm__policy_corporate l2  1.165744e+01
16                 dm__education_master  1.151733e+01
36          dm__renew_offer_type_offer2  9.682325e+00
9                dm__region_west region  7.722557e+00
1                            pt__income  7.661342e+00
24           dm__marital_status_married  7.566592e+00
37          dm__renew_offer_type_offer3  7.518756e+00
13                dm__education_college  6.603104e+00
0           pt__customer_lifetime_value  6.491321e+00
47             dm__vehicle_size_medsize  6.281288e+00
18  dm__employment_status_medical leave  5.907328e+00
41                dm__sales_channel_web  4.542884e+00
3           pt__months_since_last_claim  4.335434e+00
39             dm__sales_channel_branch  4.320579e+00
8                 dm__region_north west  4.136332e+00
15   dm__education_high school or below  4.129835e+00
17       dm__employment_status_employed  3.963532e+00
5         pt__number_of_open_complaints  3.401898e+00
38          dm__renew_offer_type_offer4  2.438806e+00
6                pt__number_of_policies  1.688512e+00
46       dm__vehicle_class_two-door car  1.446637e+00
40        dm__sales_channel_call center  7.683053e-01
4     pt__months_since_policy_inception  2.957756e-01
48               dm__vehicle_size_small  1.715571e-01

## Week 7 Day 1 - Feature selection

In [19]:
from sklearn.linear_model import Lasso, Ridge

#### OLS

In [20]:
model = LinearRegression()
model.fit(X_train_ct, y_train)
print(model.score(X_train_ct, y_train))
print(model.score(X_test_ct, y_test))

0.7394800796926333
0.7468957919551384

#### Lasso

In [21]:
model=Lasso(alpha=0.05)
model.fit(X_train_ct, y_train)
print(model.score(X_train_ct, y_train))
print(model.score(X_test_ct, y_test))

0.7394360186946489
0.7471403938699099

#### Ridge

In [22]:
model=Ridge(alpha=1000)
model.fit(X_train_ct, y_train)
print(model.score(X_train_ct, y_train))
print(model.score(X_test_ct, y_test))

0.6254605227552439
0.6238933715251345

#### RFE

In [29]:
from sklearn.feature_selection import RFE

lm = LinearRegression()

selector = RFE(lm, n_features_to_select=8, step=1, verbose=1)
selector.fit(X_train_ct, y_train)

kept_features = selector.get_support(indices = True) #returns an array of integers corresponding to nonremoved features
kept_features = list(X_train_ct.iloc[:,kept_features].columns)

X_train = selector.transform(X_train_ct)
X_test  = selector.transform(X_test_ct)

X_train = pd.DataFrame(X_train, columns=kept_features)
X_test  = pd.DataFrame(X_test, columns=kept_features)

print("Final selected features: ")
X_train

Fitting estimator with 49 features.
Fitting estimator with 48 features.
Fitting estimator with 47 features.
Fitting estimator with 46 features.
Fitting estimator with 45 features.
Fitting estimator with 44 features.
Fitting estimator with 43 features.
Fitting estimator with 42 features.
Fitting estimator with 41 features.
Fitting estimator with 40 features.
Fitting estimator with 39 features.
Fitting estimator with 38 features.
Fitting estimator with 37 features.
Fitting estimator with 36 features.
Fitting estimator with 35 features.
Fitting estimator with 34 features.
Fitting estimator with 33 features.
Fitting estimator with 32 features.
Fitting estimator with 31 features.
Fitting estimator with 30 features.
Fitting estimator with 29 features.
Fitting estimator with 28 features.
Fitting estimator with 27 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Final selected features:

,pt__monthly_premium_auto,dm__coverage_premium,dm__employment_status_unemployed,dm__location_code_suburban,dm__location_code_urban,dm__marital_status_single,dm__vehicle_class_luxury car,dm__vehicle_class_luxury suv
0,1.028939,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.871857,1.0,0.0,1.0,0.0,1.0,0.0,0.0
2,2.105524,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.743503,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,-0.701676,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
7477,0.715980,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7478,-1.081895,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7479,-1.345973,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7480,-1.539842,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7481,-1.000269,0.0,1.0,1.0,0.0,0.0,0.0,0.0