# Lab - Customer analysis case study

In [215]:
import pandas as pd
import numpy as np
import math

**Aggregate the data into one Data Frame using Pandas. Pay attention that files may have different names for the same column. therefore, make sure that you unify the columns names before concating them.**

In [216]:
df1 = pd.read_csv('Data/file1.csv')
df2 = pd.read_csv('Data/file2.csv')
df3 = pd.read_csv('Data/file3.csv')

In [217]:
print(df1.head(0))
print(df2.head(0))
print(df3.head(0))

Empty DataFrame
Columns: [Customer, ST, GENDER, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Vehicle Class, Total Claim Amount]
Index: []
Empty DataFrame
Columns: [Customer, ST, GENDER, Education, Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Total Claim Amount, Policy Type, Vehicle Class]
Index: []
Empty DataFrame
Columns: [Customer, State, Customer Lifetime Value, Education, Gender, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Total Claim Amount, Vehicle Class]
Index: []

In [218]:
df1.rename(columns={'GENDER': 'Gender', 'ST': 'State'}, inplace=True)
df2.rename(columns={'GENDER': 'Gender', 'ST': 'State'}, inplace=True)

df = pd.concat([df1, df2, df3], axis=0)
df

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

**Standardizing header names**

In [219]:
def lower_case_columns(df):
    df.columns = [i.lower() for i in df.columns]
    
    return df

In [220]:
lower_case_columns(df)

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

**Removing duplicates**

In [221]:
len(df[df.duplicated()]), len(df[df.duplicated(keep=False)])

(2939, 2943)

In [222]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9134 non-null   object
 1   state                      9134 non-null   object
 2   gender                     9012 non-null   object
 3   education                  9134 non-null   object
 4   customer lifetime value    9127 non-null   object
 5   income                     9134 non-null   float64
 6   monthly premium auto       9134 non-null   float64
 7   number of open complaints  9134 non-null   object
 8   policy type                9134 non-null   object
 9   vehicle class              9134 non-null   object
 10  total claim amount         9134 non-null   float64
dtypes: float64(3), object(8)
memory usage: 856.4+ KB

**Deleting and rearranging columns – delete the column customer as it is only a unique identifier for each row of data**

In [223]:
df.drop(columns=['customer'], inplace=True)

**Working with data types – Check the data types of all the columns and fix the incorrect ones (for ex. customer lifetime value and number of open complaints ). Hint: remove the percentage from the customer lifetime value and truncate it to an integer value.**

In [224]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9135 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9134 non-null   object
 1   gender                     9012 non-null   object
 2   education                  9134 non-null   object
 3   customer lifetime value    9127 non-null   object
 4   income                     9134 non-null   float64
 5   monthly premium auto       9134 non-null   float64
 6   number of open complaints  9134 non-null   object
 7   policy type                9134 non-null   object
 8   vehicle class              9134 non-null   object
 9   total claim amount         9134 non-null   float64
dtypes: float64(3), object(7)
memory usage: 785.0+ KB

In [225]:
def remove_percentage(x):
    if isinstance(x, str):
        return x.replace('%', '')
    return x

df['customer lifetime value'] = df['customer lifetime value'].apply(remove_percentage)

In [226]:
df['customer lifetime value'].apply(type).value_counts()

<class 'float'>    7078
<class 'str'>      2057
Name: customer lifetime value, dtype: int64

In [227]:
df['customer lifetime value'] =  pd.to_numeric(df['customer lifetime value'], errors='coerce')
df['customer lifetime value'] =  df['customer lifetime value'].apply(lambda x: math.trunc(x) if np.isnan(x) != True else 0)
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,0,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [228]:
df['customer lifetime value'].apply(type).value_counts()

<class 'int'>    9135
Name: customer lifetime value, dtype: int64

**clean the number of open complaints and extract the middle number which is changing between records. pay attention that the number of open complaints is a categorical feature.**

In [229]:
df['number of open complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan, 0,
       2, 3, 1, 5, 4], dtype=object)

In [230]:
df['number of open complaints'].apply(type).value_counts()

<class 'int'>      7070
<class 'str'>      2064
<class 'float'>       1
Name: number of open complaints, dtype: int64

In [231]:
def clean_complaints(x):
    if isinstance(x, str):
        return x.replace('/', '')[1]
    return x

df['number of open complaints'] = df['number of open complaints'].apply(clean_complaints)

In [232]:
df['number of open complaints'].unique()

array(['0', '2', '1', '3', '5', '4', nan, 0, 2, 3, 1, 5, 4], dtype=object)

In [233]:
df['number of open complaints'] =  pd.to_numeric(df['number of open complaints'], errors='coerce')
df['number of open complaints'] =  df['number of open complaints'].apply(lambda x: 0 if np.isnan(x) == True else int(x))

In [234]:
df['number of open complaints'].unique()

array([0, 2, 1, 3, 5, 4])

In [235]:
df['number of open complaints'].apply(type).value_counts()

<class 'int'>    9135
Name: number of open complaints, dtype: int64

**Filtering data and Correcting typos – Filter the data in state and gender column to standardize the texts in those columns**

In [236]:
df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [237]:
df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [238]:
def clean_state(x):
    if x == 'Cali':
        return 'California'
    elif x == 'AZ':
        return 'Arizona'
    elif x == 'WA':
        return 'Washington'
#     elif np.isnan(x) == True:
#         return 'Unspecified'
    else:
        return x

def clean_gender(x):
    if x in ['F', 'Femal', 'female', 'Female']:
        return 'Female'
    elif x in ['M', 'Male']:
        return 'Male'
    else:
        return 'Unspecified'

df['state'] = list(map(clean_state, df['state']))
df['gender'] = list(map(clean_gender, df['gender']))

In [239]:
df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [240]:
df['gender'].unique()

array(['Unspecified', 'Female', 'Male'], dtype=object)