## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here

sample_list_1 = random.sample(range(100), 80)

print(len(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(100))
    #i += 1

print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here

set3 = set1.difference(set2)

print(set3)

{3, 4, 5, 9, 10, 12, 17, 30, 33, 35, 42, 44, 47, 48, 49, 51, 60, 62, 63, 66, 68, 75, 76, 78, 84, 88, 89, 91, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4 = set2.difference(set1)

print(set4)

{0, 98, 67, 69, 7, 82, 53, 22, 55, 86, 25}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here


set5 = set1.intersection(set2)

print(set5)

{1, 6, 8, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 26, 28, 29, 31, 34, 37, 40, 41, 43, 45, 46, 50, 52, 54, 56, 57, 58, 59, 61, 64, 70, 71, 72, 73, 74, 77, 79, 80, 81, 83, 85, 90, 92, 95, 96, 97, 99}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [10]:
# Your code here
len(set1) + len(set4) == len(set1) + len(set2) - len(set5)

True

#### Create an empty set called `set6`.

In [11]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here

set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here

print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here

set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove an element from `set1`.

In [16]:
# Your code here

print(len(set1))

set1.pop()

print(len(set1))

80
79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)
    
print(len(set1))

63